/* ** VARIABLES ** */
/* CARD VARIABLES */
/* MIXINS */
.green .blockUp {
  background: #448B00;
}

.yellow .blockUp {
  background: #D89E24;
}

.blue .blockUp {
  background: #24478B;
}

.purple .blockUp {
  background: #B01D4E;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  color: gray;
  margin: 0;
}

.container {
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-list-style {
  list-style: none;
}

a {
  color: gray;
  text-decoration: none;
}

/* MENU */
nav#mainNavMenu {
  z-index: 99999;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  background: #F6F6F6;
  width: 300px;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  -webkit-box-shadow: 5px 1px 3px #C1C1C1;
          box-shadow: 5px 1px 3px #C1C1C1;
}

nav#mainNavMenu header {
  height: 100px;
  border-bottom: 1px solid #C1C1C1;
}

nav#mainNavMenu main {
  margin-top: 35px;
}

nav#mainNavMenu main ul.menu {
  padding-left: 0;
}

nav#mainNavMenu main ul.menu li {
  margin-top: 10px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

nav#mainNavMenu main ul.menu li a {
  padding: 10px 25px;
}

nav#mainNavMenu main ul.menu li svg {
  width: 25px;
  margin-right: 15px;
}

nav#mainNavMenu main ul.menu li:hover {
  background-color: #C32056;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px gray;
          box-shadow: 1px 1px 3px gray;
}

nav#mainNavMenu main ul.menu li:hover a {
  color: #FFFFFF;
}

nav#mainNavMenu main ul.menu li:hover a svg path + path {
  fill: white;
}

nav#mainNavMenu main .active {
  background-color: #C32056;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px gray;
          box-shadow: 1px 1px 3px gray;
}

nav#mainNavMenu main .active a {
  color: #FFFFFF;
}

nav#mainNavMenu main .active a svg path + path {
  fill: white;
}

.cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content {
  width: 100%;
  margin-left: 300px;
  margin-top: 30px;
}

#content header label {
  left: 0;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

#content header .burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-right: 15px;
  z-index: 999999;
}

#content header .burger-menu::before {
  content: "\00D7";
  position: fixed;
  font-size: 50px;
  color: gray;
  width: 35px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  opacity: 0;
  top: 0;
}

#content header .burger-menu .line {
  width: 35px;
  height: 3px;
  background-color: gray;
  border-radius: 1px;
  margin-top: 6px;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content header #burgerCheck:checked + label + nav#mainNavMenu {
  left: 0;
}

#content header #burgerCheck:checked + label {
  position: relative;
  left: 160px;
}

#content header #burgerCheck:checked + label .burger-menu .line {
  opacity: 0;
}

#content header #burgerCheck:checked + label .burger-menu::before {
  top: 15px;
  opacity: 1;
}

footer#mainFooter .wrapper {
  border-top: 1px solid gray;
  color: grey;
  padding: 20px;
}

footer#mainFooter .wrapper p {
  margin: 0;
}

footer#mainFooter .wrapper ul.menuList {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer#mainFooter .wrapper ul.menuList li.menuItem {
  margin-right: 15px;
}

footer#mainFooter .wrapper ul.menuList li.menuItem a {
  font-weight: bold;
}
/*# sourceMappingURL=framework.css.map */