/* ** VARIABLES ** */
/* CARD VARIABLES */
/* MIXINS */
#content .profileSettings {
  margin-bottom: 100px;
}

#content .profileSettings #editProfile {
  width: 70%;
  background: #F3F3F3;
  border: 1px solid #C1C1C1;
  -webkit-box-shadow: 3px 3px 3px #C1C1C1;
          box-shadow: 3px 3px 3px #C1C1C1;
}

#content .profileSettings #editProfile {
  margin-right: 10px;
  margin-top: 50px;
}

#content .profileSettings #editProfile header .text h4 {
  color: white;
  font-weight: normal;
}

#content .profileSettings #editProfile header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content .profileSettings #editProfile header .info h5 {
  font-size: 12px;
  text-align: right;
  font-weight: normal;
}

#content .profileSettings #editProfile header .info h2 {
  font-weight: normal;
  text-align: left;
}

#content .profileSettings #editProfile header .info h2 + .description {
  font-size: 16px;
  text-align: left;
}

#content .profileSettings #editProfile header .info .description {
  font-size: 25px;
  text-align: right;
}

#content .profileSettings #editProfile header .blockUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: -25px;
  -webkit-box-shadow: 1px 1px 5px #C1C1C1;
          box-shadow: 1px 1px 5px #C1C1C1;
}

#content .profileSettings #editProfile header .blockUp img {
  width: 100%;
  padding: 20px;
}

#content .profileSettings #editProfile header .blockUp svg {
  width: 100%;
  height: auto;
}

#content .profileSettings #editProfile header .innerText {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  padding: 10px 20px;
  color: white;
}

#content .profileSettings #editProfile header .innerText p {
  margin: 7px 0 0;
}

#content .profileSettings #editProfile header .innerText ul.listTool {
  padding-left: 15px;
  margin: 0;
}

#content .profileSettings #editProfile header .innerText ul.listTool li.itemTool a {
  padding: 10px 12px;
  color: white;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 3px;
}

#content .profileSettings #editProfile header .innerText ul.listTool li.itemTool a:hover {
  background-color: #DEAD49;
}

#content .profileSettings #editProfile header .innerText ul.listTool li.itemTool a svg {
  margin-right: 5px;
  width: auto !important;
}

#content .profileSettings #editProfile footer {
  margin-top: 5px;
  padding: 10px 0;
  border-top: 1px solid #C1C1C1;
}

#content .profileSettings #editProfile footer .card-btn {
  font-size: 13px;
}

#content .profileSettings #editProfile footer .card-btn img {
  width: 16px;
  margin-right: 7px;
}

#content .profileSettings #editProfile .info form {
  padding-bottom: 20px;
}

#content .profileSettings #editProfile .info form button {
  min-width: 35%;
  padding: 10px 0;
  color: white;
  margin-top: 20px;
  background-color: #B01D4E;
  border: none;
}

#content .profileSettings #editProfile .info form .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-left: -15px;
}

#content .profileSettings #editProfile .info form .wrapper .w-100 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#content .profileSettings #editProfile .info form .wrapper label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15px;
}

#content .profileSettings #editProfile .info form .wrapper label p {
  color: gray;
}

#content .profileSettings #editProfile .info form .wrapper label input, #content .profileSettings #editProfile .info form .wrapper label textarea {
  border: none;
  border-bottom: 1px solid gray;
  background: none;
}

#content .profileSettings #editProfile .info form .wrapper label input:focus, #content .profileSettings #editProfile .info form .wrapper label textarea:focus {
  outline: none;
}

#content .profileSettings #profile {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: gray;
}

#content .profileSettings #profile {
  width: 30%;
  background: #F3F3F3;
  border: 1px solid #C1C1C1;
  -webkit-box-shadow: 3px 3px 3px #C1C1C1;
          box-shadow: 3px 3px 3px #C1C1C1;
}

#content .profileSettings #profile {
  margin-right: 10px;
  margin-top: 50px;
}

#content .profileSettings #profile header .text h4 {
  color: white;
  font-weight: normal;
}

#content .profileSettings #profile header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content .profileSettings #profile header .info h5 {
  font-size: 12px;
  text-align: right;
  font-weight: normal;
}

#content .profileSettings #profile header .info h2 {
  font-weight: normal;
  text-align: left;
}

#content .profileSettings #profile header .info h2 + .description {
  font-size: 16px;
  text-align: left;
}

#content .profileSettings #profile header .info .description {
  font-size: 25px;
  text-align: right;
}

#content .profileSettings #profile header .blockUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: -25px;
  -webkit-box-shadow: 1px 1px 5px #C1C1C1;
          box-shadow: 1px 1px 5px #C1C1C1;
}

#content .profileSettings #profile header .blockUp img {
  width: 100%;
  padding: 20px;
}

#content .profileSettings #profile header .blockUp svg {
  width: 100%;
  height: auto;
}

#content .profileSettings #profile header .innerText {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  padding: 10px 20px;
  color: white;
}

#content .profileSettings #profile header .innerText p {
  margin: 7px 0 0;
}

#content .profileSettings #profile header .innerText ul.listTool {
  padding-left: 15px;
  margin: 0;
}

#content .profileSettings #profile header .innerText ul.listTool li.itemTool a {
  padding: 10px 12px;
  color: white;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 3px;
}

#content .profileSettings #profile header .innerText ul.listTool li.itemTool a:hover {
  background-color: #DEAD49;
}

#content .profileSettings #profile header .innerText ul.listTool li.itemTool a svg {
  margin-right: 5px;
  width: auto !important;
}

#content .profileSettings #profile footer {
  margin-top: 5px;
  padding: 10px 0;
  border-top: 1px solid #C1C1C1;
}

#content .profileSettings #profile footer .card-btn {
  font-size: 13px;
}

#content .profileSettings #profile footer .card-btn img {
  width: 16px;
  margin-right: 7px;
}

#content .profileSettings #profile header .userPhoto {
  width: 150px;
  height: 150px;
  position: relative;
  top: -40px;
  margin-bottom: -25px;
}

#content .profileSettings #profile header .userPhoto img {
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 8px gray;
          box-shadow: 2px 2px 8px gray;
  height: inherit;
}

#content .profileSettings #profile footer {
  border: none;
  text-align: center;
}
/*# sourceMappingURL=styleUser.css.map */